%section.ten-oh-announcement
  .ten-oh-label
    %span 12.0
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.0 released with Visual Reviews, Dependency List, and much more!

      .btn-group
        %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/2019/06/22/gitlab-12-0-released/"}
          See what’s new
